PORT=3000

# Set to: mongo | postgres | mysql
DB_TYPE=mongo

MONGO_URL=mongodb://mongo-user:123456@localhost:27017
MONGO_DB_NAME=mystore

POSTGRES_URL=postgresql://postgres-user:123456@localhost:5432/mystore

MYSQL_URL=mysql://mysql-user:123456@localhost:3306/mystore

JWT_SEED=
